*{
  font-family: 'Noto Serif KR', serif;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-size: 15px;
}
body{
  
  Margin:0;
  padding: 0;    
}
.login-form{
  display: flex;
  justify-content: center;
  align-items:center;
  height:100vh;
}
.formLog{
  border: 1px solid #cccccc;
  width: 500px;
  height: 400px;
}
.img img{
  width: 100px;
  display: block;
  justify-content: center;
  margin:30px auto;
}
.formLogin{
  display: flex;
  align-items:center;
  flex-direction: column;
}
  .text-field{
    margin-top: 3px;
    margin-bottom: 3px;
    width:80%;
    height:50px;
    border-radius: 5px;
    border: 1px solid #cccccc;
  }
  

  .submit-btn{
   margin-top:15px;
   padding: 0%;
   width:80%;
   height:40px;
   color: white;
   font-size: 15px;
   background-color: #0089fe;
   border: 1px solid transparent;
   border-radius: 5px;
  }

  .links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
  .links a{
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
     text-decoration: none;
     color: black;
  }
  